######################################################
# Service de gestion de la sécurité
# Keycloak coupler avec postgres
# utilise le protocole (OAuth 2)
######################################################
version: '3.8'

services:
  #############################
  # configuration de Keycloak #
  #############################
  keycloak:
    depends_on:
      - postgres
    image: quay.io/keycloak/keycloak:legacy
    container_name: keycloak
    restart: always
    ports:
      - ${KEYCLOAK_PORT_HTTP}
    volumes:
      - $PWD/keycloak_home/config:/config                                           # import config realm and user
      - $PWD/keycloak_home/themes/ghoverblog:/opt/jboss/keycloak/themes/ghoverblog  # import themes
    environment:
      DB_VENDOR: postgres                       # Le type de fournisseur de base de données
      DB_ADDR: postgres                         # Le nom d'hote de la base de données
      DB_DATABASE: ${POSTGRESQL_DB}             # Le nom de la base de données
      DB_SCHEMA: public                         # le nom du schema dans la base de données
      DB_USER: ${POSTGRESQL_USER}               # Le nom du user base de données
      DB_PASSWORD: ${POSTGRESQL_PASS}           # Le mot de passe de l'utilisateur de la base de données

      # résolution du nom d'host interne de keycloak dans docker en mode dev
      #KEYCLOAK_HOSTNAME: ${HOSTNAME}           # permet l'accès par le nom de domain (interne au conteneur)
      KEYCLOAK_HOSTNAME: localhost              # permet l'accès par le nom de domain (interne au conteneur)
      KEYCLOAK_HTTP_PORT: ${PORT_INTERNE}       # définit le port host interne
      KEYCLOAK_LOGLEVEL: DEBUG                  # Les niveaux de journal pris en charge sont :ALL, DEBUG, ERROR, FATAL, INFO, OFF, TRACE and WARN
      KEYCLOAK_USER: ${KEYCLOAK_USER}           # Le nom de l'utilisateur de keycloak
      KEYCLOAK_PASSWORD: ${KEYCLOAK_PASS}       # Le mot de passe de keycloak
      KEYCLOAK_IMPORT: /config/*                # localisation des domaines a importer

      PROXY_ADDRESS_FORWARDING: "true"    # autorisé les redirection ( NGINX )
      JAVA_OPTS: "-Xms1024m -Xmx2048m"    # configuration de la mémoire de keycloak

    networks:
      - keycloak_postgre
      - swag

  #############################
  # Configuration de postgres #
  #############################
  postgres:
    image: postgres:latest
    container_name: postgres-db
    restart: always
    ports:
      - ${POSTGRESQL_PORT}
    #volumes:
      #- $PWD/postgres_home:/var/lib/postgresql/data          # dossier de persistance quand le conteneur à l'arrêt
    environment:
      POSTGRES_USER: ${POSTGRESQL_USER}
      POSTGRES_PASSWORD: ${POSTGRESQL_PASS}
      POSTGRES_DB: ${POSTGRESQL_DB}
    networks:
      - keycloak_postgre

networks:
  keycloak_postgre:
    name: sso_bd
  swag:
    name: swag_nginx

