######################################################
# Service de gestion de la sécurité
# Keycloak coupler avec postgres
# utilise le protocole (OAuth 2)
######################################################
version: '3.8'

services:

    ######################################################
    # configuration de Keycloak
    keycloak:
        depends_on:
            - postgres

        image: jboss/keycloak:latest
        container_name: keycloak
        restart: always
        ports:
            -   ${KEYCLOAK_PORT_HTTP}
            -   ${KEYCLOAK_PORT_HTTPS}

        volumes:
            -   ./keycloak_home/realm-export:/tmp/import-realm.json         # Exporter des domaines de keycloak

        environment:
            DB_VENDOR: postgres                       # Le type de fournisseur de base de données
            DB_ADDR: postgres                         # Le nom d'hote de la base de données
            DB_DATABASE: ${POSTGRESQL_DB}             # Le nom de la base de données
            DB_USER: ${POSTGRESQL_USER}               # Le nom du user base de données
            DB_PASSWORD: ${POSTGRESQL_PASS}           # Le mot de passe de l'utilisateur de la base de données

            KEYCLOAK_USER: ${KEYCLOAK_USER}           # Le nom de l'utilisateur de keycloak
            KEYCLOAK_PASSWORD: ${KEYCLOAK_PASS}       # Le mot de passe de keycloak
            KEYCLOAK_IMPORT: /tmp/import-realm.json

            PROXY_ADDRESS_FORWARDING: 'true'           # autorisé les redirection ( NGINX ) 

            # Uncomment the line below if you want to specify JDBC parameters.
            # The parameter below is just an example, and it shouldn't be used in production without knowledge.
            # It is highly recommended that you read the PostgreSQL JDBC driver documentation in order to use it.
            #JDBC_PARAMS: "ssl=true"

        networks:
            -  keycloak_jenkins
            -  swag

    ######################################################
    # Configuration de postgres
    postgres:
        image: postgres:latest
        container_name: postgres
        restart: always
        ports:
            -   ${POSTGRESQL_PORT}

        volumes:
            -   ./postgres_home/postgres_data:/var/lib/postgresql/data:rw     # dossier de persistance quand le conteneur à l'arrêt

        environment:
            POSTGRES_USER: ${POSTGRESQL_USER}
            POSTGRES_PASSWORD: ${POSTGRESQL_PASS}
            POSTGRES_DB: ${POSTGRESQL_DB}

        networks:
            -   keycloak_jenkins

####################################################################
# réseau bridge nommé swag_nginx créer via le docker compose de swag 
# réseau bridge nomme sso_bd connexion entre keycloak et postgres 
networks:
    keycloak_jenkins:
      name: sso_bd
    swag:
      name: swag_nginx

########################
# via github on récupére le projet puis on le déploi de la manière suivant 
# docker compose up -d 