version: "3.8"

services:
  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:26.0
    restart: always
    environment:
      # Domain
      KC_HOSTNAME: "${KEYCLOAK_FRONTEND_URL_DEV}" # spécifie une URL par défaut, mais elle n'est pas strictement appliquée.
      KC_HOSTNAME_STRICT: false # Keycloak accepte les requêtes avec n'importe quel nom d'hôte
      # permettent à Keycloak d'utiliser des cookies non sécurisés (non-HTTPS), ce qui est acceptable en local.
      KC_COOKIE_SAME_SITE: None
      KC_COOKIE_SECURE: false # Désactive HTTPS requis pour les cookies

      # Les logs
      KC_LOG_CONSOLE_LEVEL: info
      KC_LOG_CONSOLE_COLOR: true

      # Les métric
      KC_HEALTH_ENABLED: true # Activer les endpoints de santé
      KC_METRICS_ENABLED: true # Activer les métriques pour monitoring

      # Configuration de la base de données
      KC_DB: postgres # le type de base de données
      KC_DB_URL: jdbc:postgresql://postgres:5432/kc_db # Connexion à PostgreSQL
      KC_DB_USERNAME: ${USER_BD}
      KC_DB_PASSWORD: ${PSW_DB}

      # Utilisateur temporaire d'administrateur
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_ADMIN} # Initialisation de l'admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD} # Mot de passe de l'admin

      # La JVM
      JAVA_OPTS_APPEND: "-Dkeycloak.someOption=value -XX:MaxRAMPercentage=65"

    volumes:
      - ./script/wait-for-it.sh:/wait-for-it.sh
    entrypoint: [
      "./wait-for-it.sh",
      "postgres-kc:5432", # DNS interne docker => hostname:port
      "--",
      "/opt/keycloak/bin/kc.sh",
      "start-dev",
    ]
    ports:
      - "8999:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - keycloak_postgre

  postgres:
    container_name: postgres-kc
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: kc_db # Nom de la base de données
      POSTGRES_USER: ${USER_BD} # Utilisateur principal
      POSTGRES_PASSWORD: ${PSW_DB} # Mot de passe
    ports:
      - "5499:5432" # Port pour accéder à PostgreSQL depuis l'hôte
    volumes:
      - postgres_data:/var/lib/postgresql/data:rw # Données persistantes
      - ./postgres_home/backups:/var/backups:rw # Dossier de sauvegarde
      - ./postgres_home/init:/docker-entrypoint-initdb.d:rw # Scripts d'initialisation
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${USER_BD} -d kc_db"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - keycloak_postgre

volumes:
  postgres_data:
    name: PG_DATA

networks:
  keycloak_postgre:
    name: sso_bd
    driver: bridge # Utilise le mode de réseau "bridge" pour ce réseau
